:root {
    --primary-color: rgba(29, 109, 133, 0.5);
    --overlay-color: rgba(0, 109, 133, 1);
    --box-color: rgba(255, 255, 255, 0.2);
    --menu-speed: 0.75s;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body {
    font-family: 'Dongle', sans-serif;
    line-height: 1.4;
}
#home, #about, #lineup, #tickets, #contact {
    scroll-snap-align: center;
}
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}
.showcase {
    background-color: var(--primary-color);
    color:#fff;
    height: 100vh;
    position: relative;
}
.showcase::before {
    content: '';
    background: url(../images/background-image-home.jpeg) no-repeat center center/cover;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;   
} 
.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.showcase h1 {
    font-weight: bold;
    font-size: 6rem;
}
.showcase p {
    font-weight: bold;
    font-size: 2rem;
}
.btn {
    display: inline-block;
    border: none;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 2rem;
    margin-top: 1.rem;
    text-decoration: none;
    transition: 1s ease-in;
    font-size: 1.5rem;
}
.btn2 {
    border: 1px solid #fff;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.btn:hover {
    color: #fff;
    opacity: 0.2;
}
.btn2:hover {
    color: #fff;
    opacity: 0.7;
}
/* about page css */
#about {
    background-color: var(--primary-color);
    color:#fff;
    background: url(../images/background-image-about1.jpeg)no-repeat center center/cover;;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}
#about > h1 {
    display: flex;
    justify-content: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0%;
}
.festival {
    font-size: 2rem;
    background: rgba(0, 109, 133, 0.4);
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid #fff;
    border-radius: 18px;
    padding: 10px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px 20px;
    box-shadow: 5px 5px 15px 5px rgba(255,255,255,0.25);
}
.festival {
    font-size: 2rem;
    background: rgba(0, 109, 133, 0.4);
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid #fff;
    border-radius: 18px;
    padding: 10px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px 20px;
    box-shadow: 5px 5px 15px 5px rgba(255,255,255,0.25);
}
.events {
    font-size: 2rem;
    background: rgba(0, 109, 133, 0.4);
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid #fff;
    border-radius: 18px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px 20px;
    box-shadow: 5px 5px 15px 5px rgba(255,255,255,0.25);
}
/* line-up page css */
#lineup {
    background-color: var(--primary-color);
    color:#fff;
    background: url(../images/background-image-line-up1.jpeg)no-repeat center center/cover;;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#lineup > h1 {
    z-index: 1;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0%;
    padding: 0;
}
.mainstage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration-style: none;
    z-index: 1;
    font-size: 2rem;
    margin: -1;
    padding: -1;
    list-style-type: none;
}
.mainstage > ul > li {
    color: #fff;
    padding: 0;
    margin: 20px 20px;
    border: 0;
}
.dreamstage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration-style: none;
    z-index: 1;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li a {
    color:white;
    text-decoration: none;
    z-index: 1;
    margin: 0;
    padding: 0;
}